*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo img{
    height: 10vh;
    border:2px solid black;
    border-radius: 30px;
}
header span,a{
     color: white;
     font-size: x-large;

}
footer{
    background-color: rgb(177, 101, 248);
}

.b0{
    background-image: url("/assets/background\ pics/bg1.jpg"); 
    background-size: cover;
}
.container{
    width: 100%;
    margin:auto;
}

.box{
   
    margin:20px;
    font-size: large;
    padding:30px;
    background-color:#605db6;
    color:white;
    border:2px solid white;
    border-radius: 6px;
     
}
li{
    list-style: none;
   
text-shadow: -3px  3px 2px black;


} 